/*
Credit for this is at https://github.com/Atanda1/react-navbar/blob/master/src/components/NavbarHeader.css, but beautified
*/

.navbarheader {
     display:inline-block;

}
 .navbarheader li{
     list-style: none;
     display:inline-block;
     margin:auto;
}
 .navbarheader li a{
     text-decoration: none;
     color:rgb(29, 25, 231);
     font-size: 18px;
     padding:8px 2px;
}
 .navbarheader li a:hover{
     color:rgb(151, 7, 247);
     border: darkmagenta;
     border-radius: 2px;
     font-size: 20px;
}
 .navbarheader li a:active{
     background-color: rgb(0, 0, 0);
     border-radius: 5px;
}
.navbarheader a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: right;
     padding: 4px 16px;
     text-decoration: none;
}

.navbarheader a:hover {
     background: transparent;
     color: black;
     padding: 4px 16px;
}

Link {
  text-decoration: none;
}
